* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 45%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #4C4C4C;
  font-weight: 300;
  line-height: 1.3; }

.container {
  display: grid;
  padding-top: 2rem;
  grid-template-rows: min-content auto 8rem [about-start] min-content [about-end contact-start] 1fr [contact-end footer-start] min-content [footer-end];
  grid-template-columns: 13% 1fr 13%;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: 8% 1fr 8%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-columns: 6% 1fr 6%; } }

section {
  padding: 8rem 0; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

span {
  font-size: 1.3rem;
  line-height: 1.3; }

.navigation__link {
  text-decoration: none;
  color: #4C4C4C;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .navigation__link:hover {
    color: #4C4C4C; }
  .navigation__link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.8rem;
    height: 0.3rem;
    background-color: #EDB239; }
  .navigation__link:after {
    opacity: 0;
    -webkit-transform: translateY(0.8rem);
    -ms-transform: translateY(0.8rem);
    transform: translateY(0.8rem);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
  .navigation__link:hover:after, .navigation__link:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.navigation #focus-link {
  outline: black; }

.heading-primary {
  font-size: 3rem;
  letter-spacing: 0.1rem; }
  .heading-primary--main {
    font-weight: 700;
    font-size: 4.7rem;
    letter-spacing: 0.06rem;
    line-height: 1;
    color: #4C4C4C;
    text-decoration: none; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4rem; } }
    @media only screen and (max-width: 25em) {
      .heading-primary--main {
        font-size: 3.85rem; } }
  .heading-primary--sub {
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 0;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2.5rem;
        line-height: 1.4; } }
  .heading-primary--hover {
    font-size: 3rem;
    letter-spacing: 0.2rem; }
    .heading-primary--hover:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.8rem;
      height: 0.3rem;
      background-color: #EDB239; }
    .heading-primary--hover:after {
      opacity: 0;
      -webkit-transform: translateY(0.8rem);
      -ms-transform: translateY(0.8rem);
      transform: translateY(0.8rem);
      -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
    .heading-primary--hover:hover:after, .heading-primary--hover:focus:after {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

.header__hint {
  font-weight: 300;
  margin-bottom: 1rem;
  color: #EDB239; }

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem; }
  h2::after {
    display: block;
    margin: 0 auto;
    background-color: #EDB239;
    content: "";
    height: 0.4rem;
    width: 5rem;
    margin-top: 1rem;
    margin-bottom: 6rem; }

.subtile-primary {
  font-size: 1.8rem;
  margin-bottom: 0.7rem; }
  .subtile-primary--role {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4; }
    @media only screen and (max-width: 37.5em) {
      .subtile-primary--role {
        font-size: 1.4rem; } }
    .subtile-primary--role .heart {
      color: #EDB239;
      font-size: 1.9rem; }
      @media only screen and (max-width: 37.5em) {
        .subtile-primary--role .heart {
          font-size: 1.2rem; } }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #4C4C4C;
    transition: 0.2s; }
  a:hover, a:active {
    color: #EDB239; }

p, a, li {
  font-size: 1.7rem;
  line-height: 1.3; }

.footer__creadit {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.09rem;
  line-height: 2; }

.navigation {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      flex-direction: column;
      align-content: center;
      margin-bottom: 4rem; } }
  .navigation__list {
    list-style: none;
    display: flex;
    align-items: center; }
  .navigation__item {
    position: relative;
    margin: 1.9rem; }
    .navigation__item:last-child {
      margin-right: 0; }
    .navigation__item:first-child {
      margin-left: 0; }

.header {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 15rem 44rem 3rem;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 9rem;
  align-items: center;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-template-columns: min-content 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-rows: repeat(3, min-content) 6rem;
      grid-template-columns: 1fr;
      grid-gap: 2.6rem;
      justify-items: center; } }
  .header__text-box-role {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box-role {
        text-align: center; } }
  .header__text-box-me {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-bottom: 12rem; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box-me {
        padding-bottom: 0; } }
    .header__text-box-me .img-btn-box {
      display: flex; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box-me {
        text-align: center; }
        .header__text-box-me .img-btn-box {
          justify-content: center; } }
  .header__buttom-box {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .header__buttom-box {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        margin-top: 4rem; } }
  .header__social-btn-box {
    display: flex;
    align-items: flex-start; }
  .header__winner-box {
    box-shadow: 0.1rem 0.1rem 2.1rem #EDB239;
    border-radius: 1rem;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    justify-self: end;
    display: grid;
    grid-template-rows: min-content, 1fr;
    grid-template-columns: 1fr; }
    @media only screen and (max-width: 37.5em) {
      .header__winner-box {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin-top: 1rem;
        justify-self: center; } }
    .header__winner-box .winner-btn-box {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .header__winner-box .press-btn-box {
      grid-row: 2 / 3;
      padding-bottom: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 30%);
      justify-content: center;
      text-align: center; }

.section__about {
  grid-row: about-start / about-end;
  grid-column: 1 / -1;
  background-color: #fffcf5;
  padding: 8rem 13%; }
  .section__about .section__content-box {
    display: grid;
    grid-template-rows: 30% repeat(3, min-content);
    grid-template-columns: 30% 8% repeat(3, 1fr);
    grid-row-gap: 2rem;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .section__about .section__content-box {
        grid-template-rows: 40% 25rem repeat(3, min-content);
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center; } }
    .section__about .section__content-box .my-text {
      grid-row: 1 / 2;
      grid-column: 3 / -1;
      padding-bottom: 2rem;
      margin-bottom: 1rem;
      border-bottom: solid 0.1rem #EDB239; }
      @media only screen and (max-width: 37.5em) {
        .section__about .section__content-box .my-text {
          grid-row: 1 / 2;
          grid-column: 1 / 2; } }
    .section__about .section__content-box--video-box {
      grid-row: 1 / -1;
      grid-column: 1 / 2;
      box-shadow: 0.1rem 0.1rem 2.1rem #EDB239;
      border-radius: 1rem;
      align-self: stretch;
      position: relative;
      overflow: hidden; }
      @media only screen and (max-width: 37.5em) {
        .section__about .section__content-box--video-box {
          grid-row: 2 / 3;
          grid-column: 1 / 2; } }
      .section__about .section__content-box--video-box .hover-caption {
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
        z-index: 99;
        text-align: center;
        opacity: 0;
        color: #fff;
        transition: all 0.4s ease-out;
        transition-delay: 0.1s; }
        .section__about .section__content-box--video-box .hover-caption img {
          width: 100%;
          transition: all 0.4s ease-out;
          transition-delay: 0.1s; }
          .section__about .section__content-box--video-box .hover-caption img:hover, .section__about .section__content-box--video-box .hover-caption img:active {
            width: 90%; }
        .section__about .section__content-box--video-box .hover-caption h3 {
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          margin-top: 1rem; }
        .section__about .section__content-box--video-box .hover-caption:hover {
          transform: translateY(-40%);
          opacity: 1; }
      .section__about .section__content-box--video-box::after {
        display: inline-block;
        position: absolute;
        content: "";
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        opacity: 0;
        border-radius: 0.6rem;
        background-color: #D09214;
        transition: all 0.4s ease-out; }
      .section__about .section__content-box--video-box:hover::after {
        opacity: 0.9;
        cursor: pointer; }
      .section__about .section__content-box--video-box:hover .hover-caption {
        transform: translateY(-50%);
        opacity: 1; }
      .section__about .section__content-box--video-box .me-video-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -1rem;
        width: 110%; }
      .section__about .section__content-box--video-box .me-video {
        width: 100%;
        height: auto; }
    .section__about .section__content-box .publication {
      grid-row: 2 / 3;
      grid-column: 3 / -1; }
      @media only screen and (max-width: 37.5em) {
        .section__about .section__content-box .publication {
          grid-row: 3 / 4;
          grid-column: 1 / 2;
          margin-top: 1rem; } }
    .section__about .section__content-box .media {
      grid-row: 3 / 4;
      grid-column: 3 / -1; }
      @media only screen and (max-width: 37.5em) {
        .section__about .section__content-box .media {
          grid-row: 4 / 5;
          grid-column: 1 / 2; } }
      .section__about .section__content-box .media .media-list {
        display: flex;
        list-style: none; }
        @media only screen and (max-width: 37.5em) {
          .section__about .section__content-box .media .media-list {
            flex-direction: column; } }
      .section__about .section__content-box .media .media-item {
        margin-right: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .section__about .section__content-box .media .media-item {
            margin: 0.5rem 0; } }
    .section__about .section__content-box .keynote {
      grid-row: 4 / 5;
      grid-column: 3 / -1; }
      @media only screen and (max-width: 37.5em) {
        .section__about .section__content-box .keynote {
          grid-row: 5 / 6;
          grid-column: 1 / 2; } }

.section__contact {
  grid-row: contact-start / contact-end;
  grid-column: 2 / 3;
  text-align: center; }
  .section__contact__email-box {
    position: relative;
    display: inline-block; }
  .section__contact__btn-box {
    display: flex;
    justify-content: space-around;
    padding: 0 30%;
    margin-top: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .section__contact__btn-box {
        padding: 0 18%;
        margin-top: 2rem; } }

.footer {
  grid-row: footer-start / footer-end;
  grid-column: 1 / 4;
  background-color: #EDB239;
  margin-top: 2rem;
  padding: 2.5rem;
  text-align: center;
  color: #fff; }

.navigation__logo,
.navigation__logo:link .navigation__logo:visited {
  margin: 2rem 0;
  fill: none;
  stroke: #EDB239;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0;
  stroke-width: 2.1rem;
  width: 8rem;
  height: 8rem;
  transition: 0.4s ease-out; }
  @media only screen and (max-width: 37.5em) {
    .navigation__logo,
    .navigation__logo:link .navigation__logo:visited {
      width: 4rem;
      height: 4rem;
      margin: 0.8rem; } }

.navigation__logo:hover, .navigation__logo:active {
  stroke: #EDB239;
  stroke-width: 1rem;
  stroke-dasharray: 30;
  cursor: crosshair; }

.press-btn, .press-btn:link, .press-btn:visited {
  height: 2rem;
  filter: grayscale(50%);
  opacity: 0.6;
  transition: opacity 0.2s; }
  @media only screen and (max-width: 50em) {
    .press-btn, .press-btn:link, .press-btn:visited {
      height: 1.8rem; } }
  @media only screen and (max-width: 25em) {
    .press-btn, .press-btn:link, .press-btn:visited {
      height: 1.2rem; } }

.press-btn:hover {
  filter: grayscale(0%);
  opacity: 1; }

.social-btn, .social-btn:link, .social-btn:visited {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 2rem;
  fill: #535353;
  transition: 0.4s; }

.social-btn:hover, .social-btn:active {
  fill: #EDB239;
  cursor: pointer; }

.contact-social-btn, .contact-social-btn:link, .contact-social-btn:visited {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0;
  fill: #535353;
  transition: 0.4s; }
  @media only screen and (max-width: 37.5em) {
    .contact-social-btn, .contact-social-btn:link, .contact-social-btn:visited {
      width: 1.9rem; } }

.contact-social-btn:hover {
  animation: pulse 0.3s;
  cursor: pointer; }

.winner-btn, .winner-btn:link, .winner-btn:visited {
  margin-top: 1rem;
  padding: 2rem;
  width: 38rem;
  display: block;
  margin: 1rem auto;
  transition: 0.4s; }
  @media only screen and (max-width: 25em) {
    .winner-btn, .winner-btn:link, .winner-btn:visited {
      width: 30rem; } }

.winner-btn:hover, .winner-btn:active {
  padding: 4rem; }

.store-btn, .store-btn:link, .store-btn:visited {
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  height: 4rem;
  text-align: center;
  width: auto;
  transition: 0.4s;
  opacity: 0.75; }
  .store-btn.btn-me, .store-btn:link.btn-me, .store-btn:visited.btn-me {
    margin-right: 0; }
  @media only screen and (max-width: 37.5em) {
    .store-btn, .store-btn:link, .store-btn:visited {
      height: 3rem; } }

.store-btn:hover, .store-btn:active {
  box-shadow: 0.1rem 0.1rem 2rem #edb239; }

.point-down-btn {
  width: 5rem;
  height: 5rem;
  fill: #EDB239;
  margin-right: 3rem; }
  .point-down-btn:hover {
    animation: bounce 1s;
    cursor: pointer; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }
