//COLORS//
$color-primary: #EDB239;
$color-secondary: #FFD98A;
$color-tertiary: #D09214;

$color-light-grey: #D8D8D8;
$color-white: #fff;
$color-dark-grey-2: rgb(83, 83, 83);
$color-dark-grey: #4C4C4C;

//FONTS//
$font-display: 'Roboto', sans-serif;

//RESPONSIVE BREAKPOINTS//

$bp-xlarge: 100em;   // 1600px
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px
$bp-small: 37.5em;   // 600px
$bp-smallest: 25em;  // 400px

//CONTENT MARGIN//
$content-margin: 13%;

//SECTION PADDING TOP BOTTOM//
$section-padding-tb: 10rem;

//TRANSITION TIME//
$transition-time-base: 0.4s;

