//COLORS//
$color-primary:#2962ff;
$color-secondary:#5c87ff;
$color-tertiary: #143ba7;

$color-light-grey: #D8D8D8;
$color-white: #fff;
$color-dark-grey: #4C4C4C;
$color-dark-grey-2: #535353;
$color-orange: rgb(255, 178, 78);
$color-green: #51CE81;
$color-grey: #202020;
$color-red: #E8615B;
$color-blue:#63a8d9;
$color-purple:#D994DA;

//FONTS//
$font-display: 'Roboto', sans-serif;

//RESPONSIVE BREAKPOINTS//

$bp-xlarge: 100em;   // 1600px
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px
$bp-small: 37.5em;   // 600px
$bp-smallest: 25em;  // 400px

//CONTENT MARGIN//
$content-margin: 22%;

//SECTION--HOME PADDING TOP BOTTOM//
$section-padding-tb: 6rem;

//SECTION--WORK MARGIN-BOTTOM//
$section-work-margin-bottom: 6rem;

//TRANSITION TIME//
$transition-time-base: 0.4s;

//HEARDER HEIGHT IN WORK PAGES//
$header-work-height: 65vh;


