.footer {
    grid-row: footer-start / footer-end;
    grid-column: 1 / 4;
    background-color: $color-primary;

    margin-top: 2rem;
    padding: 1rem $content-margin;

    text-align: center;
    color: $color-white;

    position: relative;

    &__credit-box {
        display: flex;
        align-items: center;
    }    
}

.navigation__footer {
    @media only screen and (max-width: $bp-small) {
        flex-direction: column-reverse;        
        margin-bottom: 0.4rem;
        margin-top: 2rem;
        .footer__credit {
            margin-top: 0rem; 
            font-size: 8px;            
        }          
    }   
    
}    