.footer {
    grid-row: footer-start / footer-end;
    grid-column: 1 / 4;
    background-color: $color-tertiary;

    margin-top: 6rem;
    padding: 2.5rem;

    text-align: center;
    color: $color-white;



}