.header {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
    display: grid;
    grid-template-rows: 15rem 44rem 3rem;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 9rem;
    align-items: center;

    padding-bottom: 8rem;
    
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: min-content 1fr;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(3, min-content) 6rem;
        grid-template-columns: 1fr;
        grid-gap: 2.6rem;
        justify-items: center;
    }    

    &__text-box-role {
        grid-row: 1 / 2;
        grid-column: 1 / 2;  
        
        @media only screen and (max-width: $bp-small) {
            text-align: center; 
        }
    }

    &__text-box-me {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding-bottom: 12rem; 

        @media only screen and (max-width: $bp-small) {
            padding-bottom: 0;                    
            } 

        .img-btn-box {
            display: flex;                             
        } 
        
        @media only screen and (max-width: $bp-small) {
            text-align: center; 
            .img-btn-box {
               justify-content: center;                    
            } 

        }
    } 
    
    //BUTTOM BOX//

    &__buttom-box {
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 3rem;
        
        @media only screen and (max-width: $bp-small) {
            grid-row: 4 / 5;
            grid-column: 1 / 2; 
            margin-top: 4rem;                                      
        }               
    }

    &__social-btn-box {
        display: flex;
        align-items: flex-start;
    }

    &__winner-box{
        @include box-shadow-primary;
        @include border-radius;
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        justify-self: end;
        
        display: grid;
        grid-template-rows: min-content, 1fr;
        grid-template-columns: 1fr;
        

        @media only screen and (max-width: $bp-small) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            margin-top: 1rem;
            justify-self: center;
        }       
        
        .winner-btn-box {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        
        .press-btn-box {
            grid-row: 2 / 3;

            padding-bottom: 2rem;   
                     
            display: grid;
            grid-template-columns: repeat(3, 30%);
            justify-content: center;  
            text-align: center;                       
        }        
    }    
}