.header {
    grid-row: 2 / 4;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 15% 1fr 15%;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 9rem;
    align-items: center;

  
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: min-content 1fr;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: min-content 1fr;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(3, min-content) 6rem;
        grid-template-columns: 1fr;
        grid-gap: 2.6rem;
        justify-items: center;
    }

    

    &__text-box-role {
        grid-row: 1 / 2;
        grid-column: 1 / 2;                        
    }

    &__text-box-me {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
       
              
        .img-btn-box {
            display: flex;                             
        } 
        
        @media only screen and (max-width: $bp-small) {
            text-align: center; 
            .img-btn-box {
               justify-content: center;                    
            } 

        }
    } 
    
    //BUTTOM BOX//

    &__buttom-box {
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        display: flex;
        justify-content: space-between;
        
        @media only screen and (max-width: $bp-small) {
            grid-row: 4 / 5;
            grid-column: 1 / 2;                                       
        }               
    }

    &__social-btn-box {
        display: flex;
        align-items: flex-start;
    }

    &__winner-box{
        box-shadow: 0.1rem 0.1rem 4rem $color-primary;
        border-radius: 1rem;
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        justify-self: end;
        


        display: grid;
        grid-template-rows: min-content, 1fr;
        grid-template-columns: 1fr;

        @media only screen and (max-width: $bp-small) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            justify-self: center;
        }       
        
        .winner-btn-box {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        
        .press-btn-box {
            grid-row: 2 / 3;

            padding-bottom: 2rem;   
                     
            display: grid;
            grid-template-columns: repeat(3, 30%);
            justify-content: center;  
            text-align: center;                       
        }        
    }    
}