//LOGO//
.navigation__logo {
    &,
    &:link
    &:visited {
        margin: 2rem 0;
        fill: none;
        stroke: $color-primary;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 0;   
        stroke-width: 2.1rem;
        width: 8rem;
        height: 8rem;
        transition: $transition-time-base ease-out;  
        
        @media only screen and (max-width: $bp-small) {
            width: 4rem;
            height: 4rem;
            margin: 0.8rem;
        }
    }

    &:hover,
    &:active  {
        stroke: $color-primary;
        stroke-width: 1rem;
        stroke-dasharray: 30;  
        cursor: crosshair;               
    }
    
    &--footer {
        stroke: white;
        &:hover {
            stroke: $color-secondary;
        }
        stroke-width: 1.8rem;
        opacity: 0.7;
    }
}

//GeekWire VRscout WESA//
.press-btn{
    &,
    &:link,
    &:visited  {
        height: 2rem;           
        filter: grayscale(50%);
        opacity: 0.6;
        transition: opacity 0.2s ; 
        
        @media only screen and (max-width: $bp-medium) {
            height: 1.8rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            height: 1.2rem;
        }
    }
    
    &:hover {         
        filter: grayscale(0%);
        opacity: 1; 
    }                                                              
}

//SOCIAL MEDIA//
.social-btn {
    &,
    &:link,
    &:visited {
        width: 1.8rem;
        height: 1.8rem;
        margin-left: 2rem;
        fill: $color-dark-grey-2; 
        transition: $transition-time-base; 
    }

    &:hover,
    &:active {
        fill: $color-primary; 
        cursor: pointer; 
    }
}

.contact-social-btn {

    &,
    &:link,
    &:visited {
        width: 2.8rem;
        height: 2.8rem;  
        margin: 0;      
        fill: $color-dark-grey-2; 
        transition: $transition-time-base;   
        
        @media only screen and (max-width: $bp-small) {
            width: 1.9rem;       
        }
    }

    &:hover {
        animation: pulse 0.3s;
        cursor: pointer; 
    }
}


.winner-btn {
    &,
    &:link,
    &:visited {
        margin-top: 1rem;
        padding: 2rem;
        width: 38rem;
        display: block;
        margin: 1rem auto;
        transition: $transition-time-base;   
        
        @media only screen and (max-width: $bp-smallest) {
            width: 30rem;       
        }
        
    } 

    &:hover,
    &:active {
        padding: 4rem;   
    } 
                        
}

//MS-STORE ME-WEBITE//
.store-btn {
    &,
    &:link,
    &:visited{
        border-radius: 0.5rem;
        margin-top: 1.5rem;
        margin-right: 1rem;
        height: 4rem;
        text-align: center;
        width: auto;
        transition: $transition-time-base;
        opacity: 0.75;

        &.btn-me {
            margin-right: 0;
        }

        @media only screen and (max-width: $bp-small) {
            height: 3rem;
        }
    }

    &:hover,
    &:active{        
        box-shadow: 0.1rem 0.1rem 2rem rgba($color-primary, 1);        
    }   
}

//MORE WORK//
.point-down-btn {            
    width: 5rem;
    height: 5rem;
    fill: $color-primary;
    margin-right: 3rem; 

    &:hover {
        animation: bounce 1s;
        cursor: pointer;
    }
}
    
