.navigation__logo { 
        margin: 2rem 0;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 8rem;
        height: 8rem;        

        @media only screen and (max-width: $bp-small) {
            width: 4rem;
            height: 4rem;
            margin: 0.8rem;
        }

        &,
        &:link
        &:visited {
            #fill {            
                opacity: 0;
                fill: $color-primary;
                stroke-width: 0.6rem;
                stroke: $color-primary; 
                transition: $transition-time-base ease-out; 
            }

            #outline {
                fill: none;
                stroke: $color-primary;                                
                stroke-width: 2.1rem;
                transition: 20 ease-out;                    
            }

        }
        &:hover,
        &:active  {          
            #fill {
                opacity: 100;
            }
            #outline {
                stroke-width: 0rem;
            }                                          
        }             
 }

 .footer__logo { 
    margin: 2rem 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 8rem;
    height: 8rem;        

    @media only screen and (max-width: $bp-small) {
        width: 4rem;
        height: 4rem;
        margin: 0.8rem;
    }

    &,
    &:link
    &:visited {
        #fill {            
            opacity: 0;
            fill: white;
            stroke-width: 0.4rem;
            stroke: white; 
            transition: $transition-time-base ease-out; 
        }

        #outline {
            fill: none;
            stroke: white;                                
            stroke-width: 2.1rem;
            transition: 20 ease-out;                    
        }

    }
    &:hover,
    &:active  {          
        #fill {
            opacity: 100;
        }
        #outline {
            stroke-width: 0rem;
        }                                          
    }             
}

.btn--round {
    display: inline-block;
    border: 0.2rem solid $color-primary;    
    margin-top: 9rem;
    width: 10rem;
    text-align:center;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    padding: 1.5rem;
    border-radius: 0.8rem;
    transition: $transition-time-base ease-out; 

    &,
    &:link
    &:visited {
        color: $color-primary;
        background: rgba( $color-primary, 0 );                  
    } 

    &:hover,
    &:active {
        color: white;
        background: rgba( $color-primary, 1 );                
    }    
}

.gotop__btn {  
    margin-top: 10rem;  
    text-align: center;

    svg {               
        width: 2.0rem;
        height: 2.0rem;        
    }
       
    &,
    &:link,
    {
        fill: $color-dark-grey-2;        
        transition: 0.1; 
    }

    &:hover {
        fill: $color-primary; 
        color: $color-primary;
        cursor: pointer;         
    }                 
}
    
//GeekWire VRscout WESA//
.press-btn{
    &,
    &:link,
    &:visited  {
        height: 2rem;           
        filter: grayscale(50%);
        opacity: 0.6;
        transition: opacity 0.2s ; 
        
        @media only screen and (max-width: $bp-medium) {
            height: 1.8rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            height: 1.2rem;
        }
    }
    
    &:hover {         
        filter: grayscale(0%);
        opacity: 1; 
    }                                                              
}

//SOCIAL MEDIA//
.social-btn {
    &,
    &:link,
    &:visited {
        width: 1.8rem;
        height: 1.8rem;
        margin-left: 2rem;
        fill: $color-dark-grey-2; 
        transition: $transition-time-base; 
    }

    &:hover,
    &:active {
        fill: $color-primary; 
        cursor: pointer; 
    }
}

.contact-social-btn {
    &,
    &:link,
    &:visited {
        width: 2.8rem;
        height: 2.8rem;  
        margin: 0;      
        fill: $color-dark-grey-2; 
        transition: $transition-time-base;   
        
        @media only screen and (max-width: $bp-small) {
            width: 1.9rem;       
        }
    }

    &:hover {
        animation: pulse $transition-time-base ease;
        cursor: pointer; 
    }
}


.winner-btn {    
    &,
    &:link,
    &:visited {
        margin-top: 1rem;
        padding: 2rem;
        width: 38rem;
        display: block;
        margin: 1rem auto;
        transition: $transition-time-base;   
        
        @media only screen and (max-width: $bp-smallest) {
            width: 30rem;       
        }
        
    } 

    &:hover,
    &:active {
        padding: 4rem;   
    } 
                        
}

//MS-STORE ME-WEBITE//
.store-btn {
    &,
    &:link,
    &:visited{
        border-radius: 0.5rem;
        margin-top: 1.5rem;
        margin-right: 1rem;
        height: 4rem;
        text-align: center;
        width: auto;
        transition: $transition-time-base;
        opacity: 0.75;

        &.btn-me {
            margin-right: 0;
        }

        @media only screen and (max-width: $bp-small) {
            height: 3rem;
        }
    }

    &:hover,
    &:active{        
        box-shadow: 0.1rem 0.1rem 2rem rgba($color-primary, 1);        
    }   
}


.point-down-btn, .point-right-btn {            
    width: 5rem;
    height: 5rem;
    fill: $color-primary;
    margin-right: 3rem; 

    &:hover {
        animation: pulse $transition-time-base;
        cursor: pointer;
    }
}
    
