* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px; 

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 45%;
    }

}
    
body {
    font-family: $font-display;
    color: $color-dark-grey;
    font-weight: 300;
    line-height: 1.3;
    
}

.container {
    display: grid;
    padding-top: 1.2rem;
    grid-template-rows: min-content $header-work-height [intro-start] min-content [intro-end rt-start] min-content [rt-end cotx-start] min-content [cotx-end chalge-start] min-content [chalge-end pros-start] min-content [pros-end rr-start] min-content [rr-end];
    grid-template-columns: $content-margin 1fr $content-margin;
    justify-content: center;
        
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 8% 1fr 8%;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 6% 1fr 6%;
    } 
}

.container__home {
    display: grid;
    padding-top: 1.2rem;
    grid-template-rows: min-content auto 1fr [more-start] min-content [more-end contact-start] auto [contact-end footer-start] min-content [footer-end];
    grid-template-columns: $content-margin 1fr $content-margin;
    justify-content: center;
        
    @media only screen and (min-width: 2500px) {
        grid-template-columns: auto 1920px auto;
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 8% 1fr 8%;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 6% 1fr 6%;
    } 
}

.container__about {
    display: grid;
    padding-top: 1.2rem;
    grid-template-rows: min-content auto auto [contact-start] 1fr [contact-end footer-start] min-content [footer-end];
    grid-template-columns: $content-margin 1fr $content-margin;
    justify-content: center;
        
    @media only screen and (min-width: 2500px) {
        grid-template-columns: auto 1920px auto;
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 8% 1fr 8%;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 6% 1fr 6%;
    } 
}

.container__work {
    display: grid;
    padding-top: 1.2rem;
    grid-template-rows: min-content [header-start] 1fr [header-end meta-start] auto [meta-end content-start] auto [content-end page-start] auto [page-end contact-start] min-content [ contact-end footer-start] min-content [footer-end];
    grid-template-columns: $content-margin 1fr $content-margin;
    justify-content: center;
        
    @media only screen and (min-width: 2500px) {
        grid-template-columns: auto 1920px auto;
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 8% 1fr 8%;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 6% 1fr 6%;
    } 
}

.section__home {
    margin-bottom: $section-work-margin-bottom;
}

// .section--work {
//     grid-column: 2 / 3; 
//     margin-bottom: $section-work-margin-bottom;
// }

