//COLORS//
$color-primary: #EDB239;
$color-secondary: #FFD98A;
$color-tertiary: #D09214;

$color-light-grey: #D8D8D8;
$color-white: #fff;
$color-dark-grey-2: rgb(83, 83, 83);
$color-dark-grey: #4C4C4C;

//FONTS//
$font-display: 'Roboto', sans-serif;

//RESPONSIVE BREAKPOINTS//
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px
$bp-small: 37.5em;    // 600px
$bp-smallest: 25em;    // 400px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px; 
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 45%;
    }

}
    
body {
    font-family: $font-display;
    color: $color-dark-grey;
    font-weight: 300;
    line-height: 1.6;
    
}

.container {
    display: grid;
    padding-top: 2rem;
    grid-template-rows: 14vh 80vh;
    grid-template-columns: 14% 1fr 14%;
    justify-content: center;
    
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 8% 1fr 8%;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 8% 1fr 8%;        
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 5% 1fr 5%;
    }

   


    

    
    
}





