.header-primary {
    font-size: 4.2rem;
    letter-spacing: 0.08rem;
    margin-bottom: 0.8rem;

    @media only screen and (max-width: $bp-small) {
        font-size: 3.8rem;
    }

    &--main {
        font-weight: 700;
        font-size: 4.7rem;
        letter-spacing: 0.06rem;
        
        line-height: 1;
        color: $color-dark-grey;
        text-decoration: none;

        @media only screen and (max-width: $bp-small) {
            font-size: 4rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            font-size: 3.85rem;
        } 
        
        &--wrong {
            font-size: 20rem;
            color: $color-primary;

            @media only screen and (max-width: $bp-small) {
                font-size: 15rem;
            }
        }
    }

    &--sub {
        font-weight: 300;
        font-size: 3rem;
        line-height: 0.9; 
        letter-spacing: 0;
        margin-bottom: 0.8rem;
        display: block;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
            line-height: 1.4;
        }
    }

    &--hover { 
        font-size: 2.5rem;
        letter-spacing: 0.2rem;          
        @include hover-line;

        &::selection {
            background: $color-primary;
            color: white;
        }
    }
}

.header__work {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 500;        
    text-align: left;
    color: $color-dark-grey;  
    margin-bottom: 1.2rem;  
    
    &--main {
        font-size: 2.5rem;
        margin-bottom: 0.2rem; 
        letter-spacing: 0.1rem;
    }
       
    &--sub {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.05rem; 
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;        
    }    
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 5rem;

    &::after {
        display:block;
        margin: 0 auto;
        background-color: $color-primary;
        content: "";        
        height: 0.4rem;
        width: 5rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}

//H3//
.subtile-primary {
    font-size: 2.2rem;
    margin-bottom: 0.5rem; 
    font-weight: 500;

    &--role {
        margin-top: 0.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.1rem;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
        }
    
        .heart {
            color: $color-primary;
            font-size: 1.9rem;
             
            @media only screen and (max-width: $bp-small) {
                font-size: 1.2rem;
            }                        
        }
    }        
}

h4 {
    font-size: 1.5rem;    
    color: lighten($color-dark-grey, 20);
    text-transform: capitalize;
}


a  {
    text-decoration: none;
    color: $color-dark-grey;
    letter-spacing: 0.09rem;
    
    &:link,
    &:visited {         
        transition: 0.2s;       
    }

    &:hover,
    &:active {
        color: $color-primary;        
    }
}

span {
    font-size: 1.6rem;
    line-height: 1.6;
}

p, li {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0.06rem;
}

.link {
    color: $color-dark-grey-2;    

    &:hover {
        color: $color-primary;
    }
}



.orange {
    color: $color-orange;
}

.green {
    color: $color-green;
}

p a {
    text-decoration: underline;

    &:hover {
        color: $color-light-grey;
    }
}

.footer__credit {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: left;
    margin-left: 3rem;
    opacity: .8;
}

