.navigation {
    &__link {
        text-decoration: none;
        color: $color-dark-grey;
        font-weight: 500;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
}

.heading-primary {
    &--main {
        font-weight: 700;
        font-size: 4.7rem;
        letter-spacing: 0.06rem;
        
        line-height: 1;
        color: $color-dark-grey;
        text-decoration: none;

        @media only screen and (max-width: $bp-small) {
            font-size: 4rem;
        }

        &:hover {
            text-decoration: underline;
            text-decoration-color: $color-primary;
        }
        
    }

    &--sub {
        font-weight: 300;
        font-size: 3rem;
        line-height: 1; 
        display: block;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
        }
    }
}

//EG.AWARD WINNING WORK//
.header__hint {
    margin-bottom: 1rem;
    color: $color-primary;
}

.header-role {
    margin-top: 5rem;
    font-size: 1.6rem;
    font-weight: 400;
    
    @media only screen and (max-width: $bp-small) {
        font-size: 1.5rem;
    }

    .heart {
        color: $color-primary;
        font-size: 1.9rem;
    }
}
