span {
    font-size: 1.3rem;
    line-height: 1.3;
}

.navigation {
    &__link {
        text-decoration: none;
        color: $color-dark-grey;
        font-weight: 500;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        &:hover {
            color: $color-dark-grey;
        }

        @include hover-line;
    }

    #focus-link {
        outline: rgba(0, 0, 0,1);
    }
}

//H1//
.heading-primary {
    font-size: 3rem;
    letter-spacing: 0.1rem;

    &--main {
        font-weight: 700;
        font-size: 4.7rem;
        letter-spacing: 0.06rem;
        
        line-height: 1;
        color: $color-dark-grey;
        text-decoration: none;

        @media only screen and (max-width: $bp-small) {
            font-size: 4rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            font-size: 3.85rem;
        }

        &:hover {
            text-decoration: underline;
            text-decoration-color: $color-primary;
            color: $color-dark-grey;
        }        
    }

    &--sub {
        font-weight: 300;
        font-size: 3rem;
        line-height: 1.2; 
        letter-spacing: 0;
        display: block;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
            line-height: 1.4;
        }
    }

    &--hover { 
        font-size: 3rem;
        letter-spacing: 0.2rem;          
        @include hover-line;
    }
}

//EG.AWARD WINNING WORK//
.header__hint {
    margin-bottom: 1rem;
    color: $color-primary;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;

    &::after {
        display:block;
        margin: 0 auto;
        background-color: $color-primary;
        content: "";        
        height: 0.4rem;
        width: 5rem;
        margin-top: 1rem;
        margin-bottom: 6rem;
    }
}

//H3//
.subtile-primary {
    font-size: 1.8rem;
    margin-bottom: 0.7rem; 

    &--role {
        margin-top: 0.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
        }
    
        .heart {
            color: $color-primary;
            font-size: 1.9rem;
        }
    }        
}

a  {
    text-decoration: none;
    
    &:link,
    &:visited {
        color: $color-dark-grey;        
    }

    &:hover,
    &:active {
        color: $color-primary;        
    }
}

p, a, li {
    font-size: 1.7rem;
    line-height: 1.3;
}

.footer__creadit {
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.09rem;
    line-height: 2;
}

