.section__about {
    grid-row: 2 / 3;
    grid-column: 2 / 3;   
    text-align: center; 
    
    .img-profile {
        border-radius: 10rem;
        box-shadow: 0.1rem 0.5rem 2rem rgba($color-primary, 1);        
        height: 10rem;
        margin-bottom: 6rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .introLine {
        margin-top: 1rem;
        margin-bottom: 8rem;
    }
  
    div {
        display: grid;      
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        align-items: center;
        
        margin-bottom: 6rem;
        
        @media only screen and (max-width: $bp-small) {
            justify-items: center; 
        }
        
        
    }

    .img-traction {                        
        justify-self: center; 
        border-radius: 1rem; 
        box-shadow: 0.08rem 0.2rem 0.5rem rgba($color-dark-grey, 0.5);  
        width: 27rem;       
    }   
    
    .img-habit {
        width: 10rem;
        justify-self: start; 
    }

    ul {
        display: block;          
        padding-left: 2.5rem;        
        text-align: left;           
    }               
}

