//------HEADER------//

.section--intro {

    grid-row: 2 / 3;
    grid-column: 2 / 3;   
    text-align: center;   
    animation: moveInUp $transition-time-base ease-in;  
}

.section--work {

    grid-row: 3 / 4;
    grid-column: 2 / 3;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    align-items: center; 

    animation: moveInBottom $transition-time-base ease-in;  
      
    img {        
        width: 100%;
        object-fit: cover;
        border-radius: 1rem; 
        transition: $transition-time-base;
        &,
        &:link,
        &:visited {
            box-shadow: 0.1rem 0.2rem 2rem rgba($color-dark-grey, 0.2);  
        }
        
        &:hover,
        &:active
        {        
            box-shadow: 0.1rem 0.5rem 2rem rgba($color-primary, 1);        
        }   
    }
}

.section--more {        
    grid-row: more-start / more-end;
    grid-column: 2 / 3;
    text-align: center;
    margin-bottom: 22rem; 

    animation: swing $transition-time-base ease-in;  
}

.section__contact {
    grid-row: contact-start / contact-end;
    grid-column: 2 / 3;
  
    text-align: center;

    &__email-box {
        position: relative;
        display:inline-block;        
    }

    &__btn-box {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 0 30%;
        margin-top: 4rem;

        @media only screen and (max-width: $bp-small) {
            padding: 0 18%;
            margin-top: 2rem              
        }
    }    
}