.section__header {
    grid-row: header-start / header-end;
    grid-column: 1 / 4;   
    text-align: center;    
    
    .work__header {           
        padding: 3.5rem 0;               
        height: 32rem;    
        background-size: cover;
        background-repeat: none;
        background-position: 50% 50%;        
        
        &--holoLens {
            background-image: linear-gradient(to bottom right, rgba($color-orange, 0.9), rgba(black, 0.5)), url("img/work-hololens.png");                                        
        }

        &--instantMusician {
            background-image: linear-gradient(to bottom right, rgba($color-green, 0.9), rgba(black, 0.5)), url("img/work-instantMusician.png");                                 
        }

        &--meBranding {
            background-image: linear-gradient(to bottom right, rgba($color-grey, 0.9), rgba(black, 0.5)), url("img/work-meBranding.png");                                 
        }

        &--gmyg {
            background-image: linear-gradient(to bottom right, rgba($color-red, 0.9), rgba(black, 0.5)), url("img/work-gmyg.png");                                 
        }

        &--age {
            background-image: linear-gradient(to bottom right, rgba($color-purple, 0.9), rgba(black, 0.5)), url("img/work-age.png");                                 
        }

        &--prototype {
            background-image: linear-gradient(to bottom right, rgba($color-red, 0.9), rgba(black, 0.5)), url("img/work-rapidPrototype.png");                                 
        }

        &--designIdeas {
            background-image: linear-gradient(to bottom right, rgba($color-blue, 0.9), rgba(black, 0.5)), url("img/work-designIdeas.png");                                 
        }


        

        .store-icon {
            width: 12rem;
            height: auto;
            margin-top: 3rem;  
            transition: 1.0;            
    
            &:hover {
                animation: pulse $transition-time-base;
                cursor: pointer;
            }       
        }

       
    }          
}

.section__meta {
    grid-row: meta-start / meta-end;
    grid-column: 2 / 3;
          
    .workname {
        margin-bottom: 3rem;  
        padding: 0.5rem 2rem;
        &--orange {
            border-left: solid $color-orange 0.2rem;
        }
        &--green {
            border-left: solid $color-green 0.2rem;
        }

        &--grey {
            border-left: solid #202020 0.2rem;
        }

    }

    img {        
        width:100%;
        margin: 1.5rem 0 2rem 0; 
    }

    &--item {
        display: inline-block;
        border-left: solid $color-light-grey 0.2rem;
        padding: 0.5rem 2rem;          
        text-align: left;             
    }       
}

.section__content {
    grid-row: content-start / content-end;
    grid-column: 2 / 3;
    

    iframe {
        display:block;
        width: 100%;
        height: 33rem;    
        border: none;  
        margin: 2rem 0 2rem 0;          
    }

    img {        
        width:100%;
        margin: 1.5rem 0 5rem 0; 
        
    }

    .img-five {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    &--section {
        margin-bottom: 4rem;
        ul {
            list-style: none;
        }
    
        p {
            margin: 0.1rem 0 0.5rem 0;       
        }   
    }
        
}

.challengeBox {      
    padding-left: 1.5rem; 
    margin-bottom: 7rem;   
}
.border-green {
    border-left: $color-green solid 0.2rem;
}

.border-orange {
    border-left: $color-orange solid 0.2rem;
}

.flexBox {
    display: flex;    
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6rem;

    .store-icon {
        width: 12rem;
        height: auto;
        margin-top: 3rem;         
    }

    .icon {
        width: 10rem;
        height: auto;
        margin-right: 7rem; 
        align-self: center;       
    }

    div  {
        width: 100%;        
        margin-right: 1.5rem;
        &:last-of-type {
            margin-right: 0;
        }  
        
      
    }  
    

    a {
        margin-right: 2.8rem;
        &:last-of-type {
            margin-right: 0;
        }
        transition: 1.0;
        margin-bottom: 3.5rem;

        &:hover {
            animation: pulse $transition-time-base;
            cursor: pointer;
        }
    }
}

.border {
    border: 0.1rem solid $color-light-grey;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));   
    grid-gap: 2%;
    @media only screen and (max-width: $bp-small) {
        grid-template-columns:1fr;         
    }
    align-items: center;


}

.bulletPoint li {
    list-style-type: disc;
    margin-left:2rem;
}

.divider {
    content: "";
    height: 3.5rem;

    &--underline {       
        border-bottom: solid 0.5rem $color-light-grey;
        margin: 10rem;       
    }
}

.gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: 28rem;
    grid-gap: 0.5rem;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;       

    @media only screen and (max-width: $bp-small) {
        grid-template-columns:1fr;         
    }
    
    .item {
        width: 100%;
        height: 100%;        

        img {
            width: 100%;
            height: 100%;            
            object-fit: cover;
            margin: 0;
        }
    }        
}

.section__page {
    text-align: center;
    grid-row: page-start / page-end;
    grid-column: 2 / 3;
    margin-bottom: 5rem;
    text-align: center;

    &--box {
        display: flex;
        margin: 4rem auto;
        justify-content: center;
        align-items: center;

        a {
            margin: 2rem;
        }

    }
}


